@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400&family=Fira+Sans+Condensed:wght@300;400&family=Quattrocento+Sans:wght@400;700&display=swap');

:root {
  /* FONT */
  --fira-sans: 'Fira Sans Condensed', sans-serif;
  --exo-2: 'Exo 2', sans-serif;
  --quattrocento: 'Quattrocento Sans', sans-serif;

  /* COLORS */
  --bg-dark: #101010;
  --bg-dark2: #202020;
  --color-dark: #cccccc;

  --bg-light: #eeefff;
  --bglight2: #fffffe;
  --color-light: #101010;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}